<configuration>
  <packageSources>
    <add key="AzureDevOps" value="https://pkgs.dev.azure.com/IEvolTech/_packaging/IEvolTech/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <AzureDevOps>
      <add key="Username" value="any" />
      <add key="ClearTextPassword" value="2tj25gvvqjv3so75goynpiixc4ysl7zb3lbzfjalwbrxihf22v3a" />
    </AzureDevOps>
  </packageSourceCredentials>
</configuration>
