<configuration>
  <packageSources>
    <add key="AzureDevOps" value="https://pkgs.dev.azure.com/IEvolTech/_packaging/IEvolTech/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <AzureDevOps>
      <add key="Username" value="any" />
      <add key="ClearTextPassword" value="qi5hzgkfw7qvekdyn4iygrhy522y4dza4esc52mkfmcg3bwcslaq" />
    </AzureDevOps>
  </packageSourceCredentials>
</configuration>
